@font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Regular.ttf") format("ttf");
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}


li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Dubai', sans-serif;
  color: #293179;
  font-size: 18px;
  overflow: hidden;
}

.main {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.logo {
  width: 110px;
  height: 120px;
}

h1 {
  padding: 0;
  margin-top: -25px;
  margin-bottom: 10px;
  font-size: 22px;
}

.digital {
  padding-bottom: 30px;
  border-bottom: 2px solid #293179;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 40px;
}

nav a:hover {
  color: #6877fa;
}


/* nav a:not(:last-child) {
  margin-right: 60px;
} */

.text {
  margin-bottom: 40px;
  text-align: justify;
}

.mail {
  color: #6877fa;
}

.social {
  margin-top: 60px;
}

.social a img {
  width: 50px;
  height: 50px;
}

.social a:not(:last-child) {
  margin-right: 60px;
}

.main__home {
  display: block;
}

.main__sercives {
  display: none;
}

.main__projects {
  display: none;
}

.services__row,
.projects__row {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
}

.services__row-creation {
  min-width: 179px;
}

.services__row-download {
  min-width: 105px;
}


.multilang {
  display: flex;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 7px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
} */

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


@media screen and (max-width: 360px) {
  .social a:not(:last-child) {
    margin-right: 30px;
  }
  .main {
    padding: 10px;
  }
  .digital {
    padding-bottom: 15px;
  }
  nav {
    margin-bottom: 20px;
  }
  .text {
    margin-bottom: 20px;
  }
  .social {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding-top: 20px;
  }
  .services__row {
    flex-direction: column;
    text-align: center;
  }
}